
<div class="super-container">
<div class="nav">
  <ul>
    <li>
      <a routerLink='/'>Class e style binding</a>
    </li>
    <li>
      <a routerLink='/event-binding'>Event binding</a>
    </li>
    <li>
      <a routerLink='/tho-way-data-binding'>Two way data binding</a>
    </li>
    <li>
      <a routerLink='/input-output-properties'>Input-output-properties</a>
    </li>
    <li>
      <a routerLink='/diretivas-ngif'>Diretivas-ngif</a>
    </li>
    <li>
      <a routerLink='/diretivas-ngfor'>Diretivas-ngfor</a>
    </li>
    <li>
      <a routerLink='/pipes'>Pipes</a>
    </li>
  </ul>
</div>

<div class="container">
    <router-outlet>
    </router-outlet>  
</div>
</div>