<section>
    <article>
        <h3>Two way data binding</h3>
        <div>
            <!-- <input type="text" 
                [value]="name"
                (input)="name = $event.target.value"
            />
            <input type="text" 
               [(ngModel)]="name"
            />
            <p>Voçõe digitou: {{name}}</p> -->
            <!-- o valor do input sera igual de name -->
            <label for="name">name: </label>
            <input id='name' type="text"
                [(ngModel)]="pessoa.name"
            />
            <br/>
            <label id='idade' for="idade">idade:</label>
            <input type="text"
                [(ngModel)]="pessoa.idade"
            />
            <br/>
            <p>Meu nome é <b>{{pessoa.name}}</b> e tenho <b>{{pessoa.idade}}</b> anos</p>
        </div>
    </article>
</section>
